@charset "UTF-8";


/* Paleta de cores
#027373
#038C7F
#A9D9D0
#F2E7DC
#0D0D0D
*/
:root{
    --azulEscuro: #027373;
    --azulEsverdeado: #038C7F;
    --azul: #A9D9D0;
    --branco: #F2E7DC;
    --preto: #0D0D0D;
}

*{
    margin: 0px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: var(--azulEscuro);
    max-width: 1200px;
    width: 92vw;
    margin: auto;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.400);
    
    
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
      
    text-decoration: none;
    color: var(--preto);
}


h1{
    
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    color: var(--branco);
    font-style: italic;
    width: 1100px;
    
    
}

section{
    max-width: 1200px;
    width: 92vw;
    /* height: 500px; */
    height: 88vh;
    background-color: var(--azul);
    margin: auto;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.400);

    display: flex;
    align-items: center;
    justify-content: center;

}

nav{
    background-color: var(--azulEsverdeado);
    max-width: 1180px;
    width: 85vw;
    /* height: 470px; */
    height: 85vh;
    border-radius: 10px;
    /* border: 1px solid black; */
    display: flex;

}

main{
    width: 88vw;
    /* height: 468px; */
    height: 84.7vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#jogador{
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    width: 50%;
}


#pc{
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    width: 50%;
}




div{
    margin: 10px 0px 10px 0px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    
}



.pedra{
    background-image: url(pedra.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.papel{
    background-image: url(papel.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.tesoura{
    background-image: url(tesoura.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

#resultado{
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 39%;
}

#j{
    align-self: flex-end;
    justify-self: center;
}

#p{
    align-self: flex-end;
    justify-self: center;
}

#jresultado{
    align-self: flex-start;
    justify-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

#presultado{
    align-self: flex-start;
    justify-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

article{
    
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    align-self: flex-end;
    justify-items: center;
    
}

#jplacar{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    
}
#empate{
    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    
}

#pplacar{
    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

footer{
    max-width: 1200px;
    width: 92vw;
    background-color: var(--preto);
    margin: auto;
    color: var(--branco);
    text-align: end;
    font-style: italic;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.400);
}

#rodape{
    padding-right: 10px;
    
}