@charset "UTF-8";

@media screen  and (max-width: 400px) {

    #pc{
        display: none;      
    }
    
    #jogador{
        border-radius: 0px 10px 10px 0px;
        border: 1px solid black;
    }
    #resultado{
        border-radius: 10px 0px 0px 10px;
        border-right: 0px;
    }
    div{
        width: 80px;
        height: 80px;
    }

    nav{
        display: flex;
        flex-direction: row-reverse;
    }
}


@media screen  and (min-width: 400px) and  (max-width: 500px){

    #pc{
        display: none;      
    }

    #jogador{
        border-radius: 0px 10px 10px 0px;
        border: 1px solid black;
    }
    #resultado{
        border-radius: 10px 0px 0px 10px;
        border-right: 0px;
    }
    div{
        width: 90px;
        height: 90px;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        
    }

}

@media screen and (max-height: 500px) {
    #resultado{
        display: grid;
        grid-template-columns: 50% 50%; 
        grid-template-rows: 20%;
    }
}