@charset "UTF-8";

@media screen and (max-height: 500px){

    section{
        display:  grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        justify-items: center;
        align-items: center;
       
    }

    
    main{
        width: 201px;
        height: 67px;
        display: flex;
    
    }

    div{
        /* border: 1px solid black; */
        width: 33%;
        height: 67px;
        background-size: cover;
    }

    nav{
        grid-row: span 2; /* Ocupa duas linhas */
    }
    #resB{
        width: 40px;
    }

    

    #placar{
        height: 45px;
        width: 170px;
        margin-left: 10px;
    }
 


}