@charset "UTF-8";


/* Paleta de cores
#027373
#038C7F
#A9D9D0
#F2E7DC
#0D0D0D
*/
:root{
    --azulEscuro: #027373;
    --azulEsverdeado: #038C7F;
    --azul: #A9D9D0;
    --branco: #F2E7DC;
    --preto: #0D0D0D;
}

*{
    margin: 0px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: var(--azulEscuro);
    max-width: 1200px;
    width: 92vw;
    margin: auto;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.400);
    
    
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
      
    text-decoration: none;
    color: var(--preto);
}


h1{
    
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    color: var(--branco);
    font-style: italic;
    width: 1100px;
    
    
}



section{
    max-width: 1200px;
    width: 92vw;
   /*  height: 500px; */
    height: 80vh;
    background-color: var(--azul);
    margin: auto;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.400);
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    

}

#novoJogo{
    border: 3px solid rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    background-color: var(--azulEscuro);
    color: var(--branco);
    padding: 8px 20px;
    font-size: 1.2em;
    font-weight: bold;
    width: 120px;
    text-align: center;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.400);
    
}

main{
    width: 300px;
    height: 100px;
    display: flex;

}

div{
    /* border: 1px solid black; */
    width: 33%;
    height: 100px;
    background-size: cover;
}

#a1{
    border-right: 5px solid black;
    /* background-image: url(bolinha.png); */

}

#a2{
    border-right: 5px solid black;
    /* background-image: url(xis.png); */
    
}

#b1{
    border-right: 5px solid black;
    border-top: 5PX solid black;
}
#b2{
    border-right: 5px solid black;
    border-top: 5PX solid black;
}

#b3{
    border-top: 5px solid black;
}

#c1{
    border-right: 5px solid black;
    border-top: 5PX solid black;
}
#c2{
    border-right: 5px solid black;
    border-top: 5PX solid black;
}

#c3{
    border-top: 5px solid black;
}

#placar{
    height: 50px;
    background-color: var(--azulEscuro);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.39);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.400);
    display: flex;
    align-items: center;
    
    
}


aside{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    color: var(--branco);
    font-size: 1.2em;
    font-weight: bold;
    
    
    
}
#bolinha{
    background-image: url(bolinha.png);
    
}
#xis{
    background-image: url(xis.png);
}
#resB{
    width: 100px;
}

.res{
    font-size: 2em;
    padding-left: 10px;
}

footer{
    max-width: 1200px;
    width: 92vw;
    background-color: var(--preto);
    margin: auto;
    color: var(--branco);
    text-align: end;
    font-style: italic;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.400);
}

#rodape{
    padding-right: 10px;
    
}